---
layout: default
---
<div class="container">
  <h2 class="spacing">{{ page.title }}</h2>

  <div class="blog-post spacing">
    <p class="summary">{{ page.category }}<span class="date">{{ page.date | date: '%B %d, %Y' }}</span></p>
    {{ content }}
  </div>
  
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div class="content">
  	<form action="//nourishology.us13.list-manage.com/subscribe/post?u=eec851318c04c20adcb6dfef2&amp;id=7c3c0ff234" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  	<div class="row 50%">
		<label for="mce-EMAIL">Subscribe to Nourishology!</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eec851318c04c20adcb6dfef2_7c3c0ff234" tabindex="-1" value=""></div>
    		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
   	</div>
   	</form>
   </div>

<!--End mc_embed_signup-->
  
  <div class="share-icons">
    <h4 class="spacing">Share this on:</h2>
    <ul class="icons">
	<li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="icon circle fa-twitter"><span class="label">Twitter</span></span></a></li>
	<li><a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.title }}" rel="nofollow" target="blank" title="Share on Pinterest" class="icon circle fa-pinterest"><span class="label">Pinterest</span></a></li>
    	<li><a href="mailto:?subject={{ page.title }}&body=Check out this great post I found on Nourishology!%0D%0A%0D%0A{{ site.url }}{{ page.url }}" title="Share by Email" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </div>

</div>
